body{
    background: white;
}

.container_cards{
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card-hover{
    width: 300px;
    height: 100%;
    margin: 10px;
    transition: all 300ms;
}

.card-hover:hover{
    width: 350px;
}

.card-hover .cover{
    width: 100%;
    height: 200px;
    position: relative;
    overflow: hidden;
}

.card-hover .cover img{
    width: 250px;
    display: block!important;
    margin: auto;
    position: relative;
    top: 40px;
    z-index: 1;
    /* filter: drop-shadow(5px 5px 4px rgba(0, 0, 0, 0.5 )); */
    transition: all 400ms;
}

.card-hover:hover .cover img{
    /* filter: none; */
    top: 0px;
}

.card-hover .img_back{
    width: 100%;
    height: 200px;
    position: absolute;
    bottom: -80px;
    left: 0;
    background-size: cover;
    border-radius: 20px;
    transition: all 300ms;
}

.card-hover:hover .img_back{
    bottom: -40px;
}

.card-hover:nth-of-type(1) .img_back{
    background-image: url(../images/card/fondo1.png);
}
.card-hover:nth-of-type(2) .img_back{
    background-image: url(../images/card/fondo1.png);
}
.card-hover:nth-of-type(3) .img_back{
    background-image: url(../images/card/fondo1.png);
}

.card-hover .description{
    text-align:center;

    background-color:whitesmoke;
    margin-top: -10px;
    padding: 20px;
    border-radius: 0px 0px 20px 20px;
    transition: all 300ms;
}

.card-hover:hover .description{
    padding: 40px;
}

.card-hover  .description h2{
    margin-top: 10px;
}

.card-hover .description p{
    margin-top: 10px;

}

.card-hover .description input{
    text-align: center;
    cursor: pointer;
    border-radius: 8px;
    transition: all 300ms;
}

.card-hover .description input:hover{
    background-color: #83277b;
}


#enlace-facebook,
#enlace-intagram,
#enlace-whatsapp,
#enlace-correo,
#enlace-telegram,
#enlace-linkerin{
    width: 30px ;
    height: 30px ;
}



#enlace-whatsapp
{
    content: url('./../images/icon/whatsapp3.svg');
}
#enlace-facebook
{
    content: url('./../images/icon/facebook3.png');
}
#enlace-intagram
{
    content: url('./../images/icon/intragram1.png');
}
#enlace-linkerin
{
    content: url('./../images/icon/linkerin3.svg');
}
#enlace-correo
{
    content: url('./../images/icon/correo3.png');
}

#enlace-telegram
{
    content: url('./../images/icon/telegram3.png');
}



